<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Nature</string>
		<key>Image</key>
		<string>Inspiration-01</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Nature</string>
		<key>Image</key>
		<string>Inspiration-02</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Nature</string>
		<key>Image</key>
		<string>Inspiration-03</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Nature</string>
		<key>Image</key>
		<string>Inspiration-04</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Nature</string>
		<key>Image</key>
		<string>Inspiration-05</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Nature</string>
		<key>Image</key>
		<string>Inspiration-06</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Nature</string>
		<key>Image</key>
		<string>Inspiration-07</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Nature</string>
		<key>Image</key>
		<string>Inspiration-08</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Nature</string>
		<key>Image</key>
		<string>Inspiration-09</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Nature</string>
		<key>Image</key>
		<string>Inspiration-10</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Nature</string>
		<key>Image</key>
		<string>Inspiration-11</string>
	</dict>
</array>
</plist>
